@CHARSET "UTF-8";
#background{
	-webkit-filter: blur(2px);   /* Chrome, Safari, Opera */
    filter: blur(2px);
	width:100%;
	height:100%;
}
#map{
	width:100%;
	height:100%;
}
#loading{
	width:100%;
	height:100%;
	opacity:0.5;
}
#message{
	z-index:999;
}